<h2>Admin Page</h2>

<h3>Create a new cohort:</h3>

<%= form_for @cohort do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :start_date %>
		<%= f.date_select :start_date %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :photos_url %>
		<%= f.text_field :photos_url %>

		<%= f.submit %>
	<% end %>

<h3>Delete a member of a cohort:</h3>

