<a name='post-<%= post.id %>'></a>
<div id='post_<%= post.id %>' class='reply_to_post post <%= cycle('odd', 'even') -%>'>

  <%= forem_format(markdown(post.text)) %>

  

  <div class='contents'>
    
      
  
    

    <% if post.reply_to %>
      <span class='in_reply_to'>
        <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
      </span>
    <% end %>
  </div>
</div>