<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/"><%= image_tag('bootconnect_logo.png', :class => 'logo') %> </a>
      <nav class="pull-right">
          <ul class="nav">
            <% if current_user %>
            <li><%= link_to "Forums", forem.root_path %></li>
            <li><%= link_to "Edit Profile", main_app.edit_user_path(current_user.id) %></li>
            <li><%= link_to "Sign Out", main_app.signout_path %></li>
            <% else %>
            <li><%= link_to "Sign in with Github!", "/auth/github", :class => "btn-auth btn-github", :id => "sign-in-github"%></li>
            <% end %>

            

        </ul>
      </nav>
    </div>
  </div>

 
</header>
