<div class="quickinfo">
	
		<%= image_tag('x-mark-4-32.png', :class => 'close') %>
	
	<ul>
		<li><%= user.first_name %> <%= user.last_name %></li>
	  <li><%= mail_to "#{user.email}" %></li>
	  <li><%= phone_number_link(user.phone) %></li>
	  <li><%= link_to user.website_url, "http://#{user.website_url}" %></li>
	  <li><%= link_to user.blog_url, "http://#{user.blog_url}" %></li>
	  
	  <li>
		  <%= link_to image_tag('github_icon.png', :class => 'social_icons'), "http://github.com/#{user.nickname}" %>
		  <% if user.facebook_url %>
		  	<%= link_to image_tag('facebook_icon.png', :class => 'social_icons'), "http://facebook.com/#{user.facebook_url}" %>
		  <% end %>	
		  <% if user.twitter_url %>
		  	<%= link_to image_tag('twitter_icon.png', :class => 'social_icons'), "http://twitter.com/#{user.twitter_url}" %>
		  <% end %>	
		</li>
		  
	  <li>
	  	<a href="<%= user_path(user) %>">View Full Profile</a>
	  </li>
	</ul>  
</div>