

<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <div class="welcome">Welcome, <%= @user.first_name %>!</div>

  <% unless @user.photo_url %>
    <ul class="avatars">
      <% @avatars.each do |img| %>
        <% select = img[:src].include?(@user.first_name.downcase) %>
        <li class="avatar <%= select ? 'selected' : '' %> <%= "cohort_#{img[:id]}" %>">
          <%= f.radio_button :photo_url, img[:src], :checked => select  %>
          <%= image_tag img[:src] %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="control-group">
      <div class="control-label"></div>
      <div class="controls"><%= image_tag @user.photo_url %></div>
    </div>
  <% end %>

<div id='update_group'>

  <div class="control-group">
    <%= f.label :Select_your_Cohort, :class => "control-label" %>
    <%= f.collection_select :cohort_id, @cohorts, :id, :name, {}, {:class => "controls cohort_img" }%>
  </div>
  <div class="control-group">
    <%= f.label :First_Name, :class => "control-label" %>
    <%= f.text_field :first_name, :class => "controls"  %> 
  </div>
  <div class="control-group">
    <%= f.label :Last_name, :class => "control-label"  %>
    <%= f.text_field :last_name, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Email_Address, :class => "control-label" %>
    <%= f.email_field :email, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Phone, :class => "control-label" %>
    <%= f.text_field :phone, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Job, :class => "control-label" %>
    <%= f.text_field :job, :class => "controls" %> 
  </div>
  <div class="control-group">
    <%= f.label :Location, :class => "control-label" %>
    <%= f.text_field :location, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Tweet_advice, :class => "control-label" %>
    <%= f.text_field :advice_tweet, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Best_places_to_eat_near_DBC, :class => "control-label" %>
    <%= f.text_field :fav_restaurant, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Website, :class => "control-label" %>
    <%= f.text_field :url, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Blog, :class => "control-label" %>
    <%= f.text_field :blog, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label "Facebook", :class => "control-label" %>
    <%= f.text_field :facebook, :class => "controls", :placeholder => "facebook.com/username" %>
  </div>
  <div class="control-group">
    <%= f.label "Twitter", :class => "control-label" %>
    <%= f.text_field :twitter, :class => "controls", :placeholder => "twitter.com/username" %>
  </div>
  <div class="control-group">
    <div class="control-label"></div>
    <%= f.submit "Update", :class => "controls" %>
  </div>
</div>
<% end %>
