<div class="welcome">Welcome, <%= @user.first_name %>!</div>

<%= form_for @user, :html => {:class => "form-horizontal user-form"} do |f| %>
  <div id='update_group'>
    <div class="control-group">
      <%= f.label :First_Name, :class => "control-label" %>
      <%= f.text_field :first_name, :class => "controls"  %> 
    </div>
    <div class="control-group">
      <%= f.label :Last_name, :class => "control-label"  %>
      <%= f.text_field :last_name, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label :Email_Address, :class => "control-label" %>
      <%= f.email_field :email, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label :Phone, :class => "control-label" %>
      <%= f.text_field :phone, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label :Company, :class => "control-label" %>
      <%= f.text_field :company, :class => "controls" %> 
    </div>
    <div class="control-group">
      <%= f.label :Location, :class => "control-label" %>
      <%= f.text_field :location, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label :Advice_tweet, :class => "control-label" %>
      <%= f.text_field :advice, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label :Best_places_to_eat_near_DBC, :class => "control-label" %>
      <%= f.text_field :restaurant, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label "Website URL", :class => "control-label" %>
      <%= f.text_field :website_url, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label "Blog URL", :class => "control-label" %>
      <%= f.text_field :blog_url, :class => "controls" %>
    </div>
    <div class="control-group">
      <%= f.label "Facebook Handle", :class => "control-label" %>
      <%= f.text_field :facebook_url, :class => "controls", :placeholder => "facebook.com/username" %>
      <div class="button facebook"><%= link_to "Connect" %></div>
    </div>
    <div class="control-group">
      <%= f.label "Twitter Handle", :class => "control-label" %>
      <%= f.text_field :twitter_url, :class => "controls", :placeholder => "twitter.com/username" %>
      <div class="button twitter"><%= link_to "Connect" %></div>
    </div>
  </div>

  <% unless @user.photo_url %>
    <%= render "photos", f: f %>
  <% else %>
    <div class="avatar_change">
      <div class="control-group">
        <div class="control-label"></div>
        <div class="controls"><%= image_tag @user.photo_url %></div>
      </div>
      <span class="change"><%= link_to "Change photo", user_photo_path(@user) %></span>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label"></div>
    <%= f.submit "Update", :class => "controls" %>
  </div>

<% end %>
