<h2>
  hey world check out the awesome dbc students
</h2>

<% @images.each do |img| %>
  <img src="<%= img %>" />
<% end %>

<% if current_user %>

  Hi user number <%= current_user.uid %>
  <br>
  <%= link_to "Create Profile", edit_user_path(current_user.id) %>
  <br>
  <%= link_to "Sign Out", signout_path %>

<% else %>
  
  <div>
  <%= link_to "Auth with Github", "/auth/github" %> to make some new friends!
  </div>

<% end %>
