Welcome to your profile page, <%= @user.first_name %>


<div>
  <%= image_tag @user.photo_url %>
</div>
<div>
<ul id='user_info'>
  <li>First Name: <%= @user.first_name %></li>
  <li>Last Name: <%= @user.last_name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Phone #: <%= @user.phone %></li>
  <li>Find me on Github: <%= @user.nickname %></li>
  <li>Current job: <%= @user.job %></li>
  <li>Current city: <%= @user.location %></li>
  <li>Website: <%= @user.url %></li>
  <li>Blog: <%= @user.blog %></li>
  <li>Tweeted Advice: <%= @user.advice_tweet %></li>
  <li>Favorite Restaurant: <%= @user.fav_restaurant %></li>
</div>
