<div class="welcome">Welcome, <%= @user.first_name %>!</div>


<div>
  <%= image_tag @user.photo_url %>
</div>
<div>
<ul id='user_info'>
  <li><div class="profile_label">First Name:</div> <%= @user.first_name %></li>
  <li><div class="profile_label">Last Name:</div> <%= @user.last_name %></li>
  <li><div class="profile_label">Email:</div> <%= mail_to "#{@user.email}" %></li>
  <li><div class="profile_label">Phone #:</div> <%= phone_number_link(@user.phone) %></li>
  <li><div class="profile_label">Find me on Github:</div> <%= @user.nickname %></li>
  <li><div class="profile_label">Current job:</div> <%= @user.job %></li>
  <li><div class="profile_label">Current city:</div> <%= @user.location %></li>
  <li><div class="profile_label">Website:</div> <%= link_to @user.url, "http://#{@user.url}" %></li>
  <li><div class="profile_label">Blog:</div> <%= link_to @user.blog, "http://#{@user.blog}" %></li>
  <li><div class="profile_label">Tweet Advice:</div> &ldquo;<%= @user.advice_tweet %>&rdquo;</li>
  <li><div class="profile_label">Favorite Restaurant:</div> <%= @user.fav_restaurant %></li>
</div>
