<div class="welcome">Welcome, <%= @user.first_name %>!</div>


<div class="profile_img">
  <%= image_tag @user.photo_url %>
</div>
<div>
<ul id='user_info'>
  <li><div class="profile_label">First Name:</div> <%= @user.first_name %></li>
  <li><div class="profile_label">Last Name:</div> <%= @user.last_name %></li>
  <li><div class="profile_label">Email:</div> <%= mail_to "#{@user.email}" %></li>
  <li><div class="profile_label">Phone #:</div> <%= phone_number_link(@user.phone) %></li>
  <li><div class="profile_label">Find me on Github:</div> <%= @user.nickname %></li>
  <li><div class="profile_label">Current company:</div> <%= @user.company %></li>
  <li><div class="profile_label">Current city:</div> <%= @user.location %></li>
  <li><div class="profile_label">Website:</div> <%= link_to @user.website_url, "http://#{@user.website_url}" %></li>
  <li><div class="profile_label">Blog:</div> <%= link_to @user.blog_url, "http://#{@user.blog_url}" %></li>
  <li><div class="profile_label">Advice Tweet:</div> &ldquo;<%= @user.advice %>&rdquo;</li>
  <li><div class="profile_label">Favorite Restaurant:</div> <%= @user.restaurant %></li>
  <li><div class="profile_label">Github Profile:</div> <%= link_to @user.nickname, "http://github.com/#{@user.nickname}" %></li>
  <li><div class="profile_label">Facebook Profile:</div> <%= link_to @user.facebook_url, "http://facebook.com/#{@user.facebook_url}" %></li>
  <li><div class="profile_label">Twitter Profile:</div> <%= link_to "@#{@user.twitter_url}", "http://twitter.com/#{@user.twitter_url}" %></li>
</div>
