<% if current_user %>
	<%= render '/pages/search' %>
	<div class="search-box">
	<%= render '/pages/results', :users => @users %>
	</div>
<% else %>
<div class="name_img_span">

 

  <%= link_to image_tag('l-arrow.png', :class => 'l-arrow'), pages_random_user_path, :remote => true  %>
  <%= link_to image_tag('r-arrow.png', :class => 'l-arrow'), pages_random_user_path, :remote => true  %>
  
 	<div class="featured_user">
 		<%= render '/pages/home_users', :user => @user %>
	</div>


</div>
<% end %> 