<!DOCTYPE html>
<html>
<head>
  <title>Boot Connect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>

</head>
<body class="custom">

<%= render :partial => "partials/header" %>

<div id="top_container" class="container">
  <% if flash[:alert] %>
    <p class="flash flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
